    .banner-area{
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    body{
        margin: 0;
        padding: 0;
    }
    header {
        padding: 15px 60px;
    }
    .menu{
        width: -70%;
        float: right;
        list-style: none;
        text-align: right;
    }
    .menu li{
        width: 100px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        font-size: 13px;
        float:left; 
    }
    .menu li:hover{
        background: red;
    }
    .menu li:hover a{
        color: 0;
    }
    .menu li a{
        text-decoration: none;
        font-family: 'Kanit', sans-serif;
        color: #fff;
    }
    .logo {
        text-decoration: none;
        color:#fff;
        font-size: 30px;
        font-family: 'Kanit', sans-serif;
        padding: 20px 0;
        width: 20%;
        float: left;
    }
    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        text-align: center;
    }
    .banner-text h2{
        font-family: 'Kanit', sans-serif;
        margin: 0;
        font-size: 55px;
        color:red;
    }
    .banner-text p{
        font-size: 22px;
        margin:0;
        font-family: 'Kanit', sans-serif;
    }
    .banner-text a{
        text-decoration: none;
        border: 1px solid #fff;
        font-size: 17px;
        padding: 10px 35px;
        color: #fff;
        display: inline-block;
        margin-top: 5%;
        font-family: 'Kanit', sans-serif;
        text-transform: uppercase;
    }
    .banner-text a:hover{
        border-color: red;
        background: red;
        transition: .9s;
        color: #262626;
    }